@charset "UTF-8";
@media (max-width: 767px) {
  h2.english {
    font-size: 30px;
  }
  .top-wrap {
    height: 667px;
    background-image: url(img/sp--back.jpeg);
  }
  #pc-header ul {
    display: none;
  }
  #pc-header {
    background-color: #fff;
    padding: 30px 25px;
    display: flex;
    align-items: center;
  }
  .sp-logo {
    display: block;
  }
  /* ドロワーメニュー用 */
  header .drawer-hamburger {
    display: block;
    z-index: 101;
  }
  .top-contents {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
  }
  .contact-btn {
    width: 232px;
    margin: 0 auto;
  }
  .contact-btn a {
    padding: 13px 24px;
  }
  .anchor {
    padding-top: 0px;
    margin-top: 0px;
  }
  .news {
    width: 90%;
    margin: 0 auto 60px;
    padding: 40px 16px;
  }
  .news h2 {
    font-size: 30px;
    padding-bottom: 40px;
  }
  .news .news-contents {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px 0;
  }
  .news .news-contents img {
    margin-left: 10px;
  }
  .news .news-contents p:first-of-type {
    font-size: 14px;
  }
  .news .more-btn {
    width: 95%;
    margin-top: 40px;
  }
  .news .more-btn a {
    padding: 15px 0;
  }
  .news-tag {
    font-size: 12px;
    padding: 5px 20px;
    line-height: 12px;
    margin-left: 20px;
  }
  .news-text {
    width: 90%;
    font-size: 12px;
  }
  .anchor2 {
    display: block;
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
  .service {
    padding-top: 40px;
  }
  .service h2 {
    font-size: 30px;
    padding-bottom: 40px;
  }
  .service .service-con-wrap {
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 40px 0;
    top: 0px;
  }
  .service .service-con-wrap .service-contents {
    width: 90%;
  }
  .service .service-con-wrap .service-contents + .service-contents {
    margin-top: 65px;
  }
  .service .service-con-wrap .service-contents h3 {
    font-size: 18px;
  }
  .anchor3 {
    display: block;
    padding-top: 80px;
    margin-top: 460px;
  }
  .results {
    width: 100%;
    height: 560px;
    margin: 0;
    padding: 40px 0 40px 0px;
  }
  .results h2 {
    text-align: center;
    padding-bottom: 40px;
  }
  .swiper-container {
    transform: translateX(16px);
  }
  .swiper-slide {
    width: 276px !important;
    height: 251px !important;
  }
  .swiper-slide img {
    width: 100%;
    height: 155px;
  }
  .slide-text {
    padding: 12px;
  }
  .slide-text h3 {
    font-size: 15px;
  }
  .slide-text p {
    font-size: 12px;
  }
  .swiper-pagination {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 44px;
  }
  .swiper-pagination span {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination span + span {
    margin-left: 20px;
  }
  .view-btn {
    width: 90%;
    margin: 0 auto;
    transform: translateY(80px);
  }
  .price h2 {
    margin: 40px 0;
  }
  .price p {
    width: 90%;
    margin: 20px auto  0;
  }
  .price table {
    width: 90%;
  }
  .price table tr td {
    font-size: 20px;
    font-weight: bold;
  }
  .anchor4 {
    padding-top: 80px;
    margin-top: 40px;
  }
  .glay-back {
    width: 100%;
    height: 480px;
  }
  .people4 {
    display: none;
  }
  .comments {
    width: 90%;
    height: auto;
    padding: 40px 20px;
    margin: 0 auto;
    position: static;
    transform: translateY(-60px);
  }
  .comments h2 {
    margin-bottom: 40px;
  }
  .comments .come-contents + .come-contents {
    margin-top: 40px;
  }
  .comments .come-contents img {
    width: 56px;
    height: 56px;
  }
  .comments .come-contents p {
    font-size: 14px;
    line-height: 22px;
    width: 70%;
  }
  .faqs-back {
    padding: 0 0 40px 0;
  }
  .faqs-back h2 {
    padding: 40px 0;
  }
  .fq-wrap {
    width: 95%;
    padding: 18px;
    margin: 0  auto;
  }
  .fq-wrap + .fq-wrap {
    margin-top: 30px;
  }
  .access-back {
    width: 100%;
    height: auto;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
  }
  .access-back address {
    font-size: 12px;
  }
  .map-btn {
    order: 4;
    width: 100%;
  }
  .map-btn a {
    padding: 16px 0;
    width: 100%;
  }
  .map {
    order: 3;
    width: 100%;
    padding: 0;
    margin-top: 19px;
    transform: translate(0, 0);
  }
  .map iframe {
    position: static;
    width: 100%;
    height: 241px;
  }
  /*==== Contact Us =================================*/
  .anchor5 {
    padding-top: 80px;
    margin-top: -80px;
  }
  .contact-back {
    padding: 80px 0;
    margin-top: 0;
  }
  .contact-wrap {
    width: 70%;
    margin: 0 auto;
    border-radius: 7px;
    background-color: #fff;
  }
  .contact-wrap .contact-title {
    padding: 61.5px 0;
    text-align: center;
    background-image: url(img/image.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    border-radius: 7px 7px 0 0;
  }
  .contact-wrap .contact-title::before {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 7px 7px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }
  .contact-wrap .contact-title h2 {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .contact-wrap .contact-title p {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .contact-form {
    padding: 60px 90px;
  }
  .slect-form {
    display: flex;
    align-items: center;
  }
  .select-test {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    padding: 5px 20px;
    width: 261px;
    margin-left: 99px;
  }
  .select-test::-ms-expand {
    display: none;
  }
  .select-test:focus {
    box-shadow: none;
    outline: none;
  }
  .select-test:hover {
    box-shadow: 0 0 3px 2px rgba(82, 122, 187, 0.8);
  }
  .name-wrap, .hurigana-wrap, .mail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .input-text {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(62, 62, 62, 0.5);
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 65.7%;
  }
  .input-text:focus, .input-text:hover {
    border-bottom: 1px solid #4973FF;
    box-shadow: 0px 3px 2px -2px #4973FF;
    outline: none;
  }
  .name, .hurigana {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hissu {
    background-color: #FF4646;
    width: 55px;
    height: 24px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
  }
  .sex {
    display: flex;
    align-items: center;
  }
  .radio-wrap {
    margin-left: 28%;
  }
  .radio-wrap label + label {
    margin-left: 60px;
  }
  .radio-test {
    display: none;
  }
  .radio-test + span {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2em 0;
    padding: 0 0 0 1.2em;
    position: relative;
  }
  .radio-test + span::before {
    -webkit-transform: translateY(-50%);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .radio-test + span::after {
    -webkit-transform: translateY(-50%);
    background: #3B69FF;
    border-radius: 50%;
    content: "";
    opacity: 0;
    padding: 2px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    width: 8px;
    height: 8px;
  }
  .radio-test:checked + span::after {
    opacity: 1;
  }
  .radio-test:checked + span::before {
    border: 1px solid #3B69FF;
  }
  .radio-test:hover + span::before {
    border: 1px solid #3B69FF;
  }
  .textarea-text {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 100%;
    height: 213px;
  }
  .textarea-text:focus, .textarea-text:hover {
    border: 1px solid #4973FF;
    outline: none;
  }
  .privacy {
    margin-left: 22px;
  }
  .privacy a {
    text-decoration: none;
  }
  .privacy a:hover {
    text-decoration: underline;
    opacity: .7;
  }
  .check-test {
    display: none;
  }
  .check-test + span {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2em 0;
    padding: 0 0 0 1.2em;
    position: relative;
  }
  .check-test + span::before {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: -22px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .check-test + span::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    border-bottom: 3px solid #3B69FF;
    border-left: 3px solid #3B69FF;
    content: "";
    display: block;
    height: 0.6em;
    left: -22px;
    margin-top: -0.2em;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: all 0.3s ease 0s;
    width: 1em;
  }
  .check-test:checked + span::after {
    opacity: 1;
  }
  .submit-test {
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    background-color: #FFAA3B;
    padding: 14px 48px;
    width: 174px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
    margin-top: 30px;
  }
  .submit-test:hover {
    background-color: #ee8700;
  }
  .submit-test:focus {
    outline: none;
  }
}
